{% extends "_base.html" %} {% block content %}
<div class="Register_wrap wrap" onselectstart="return false">
  <div class="center">
    <h3 class="h3">회원가입</h3>
    <p class="continue">아래사항들을 적어주세요.</p>
    <form action="" method="POST">
      {% csrf_token %}
      <p class="RS_IP username">
        {{ form.username }}
        <label for="id_username" class="lbUsername"
          >아이디를 입력해주세요</label
        >
      </p>
      <p class="RS_IP password1">
        {{ form.password1}}
        <label for="id_password1" class="lbUsername"
          >비밀번호를 입력해주세요</label
        >
      </p>
      <p class="RS_IP password2">
        {{ form.password2 }}
        <label for="id_password2" class="lbUsername"
          >비밀번호를 다시 입력해주세요</label
        >
      </p>
      <p class="RS_IP nickname">
        {{ profile_form }}
        <label for="id_nickname" class="lbUsername"
          >닉네임을 입력해주세요</label
        >
      </p>
      {% include "_form_error.html" %}
      <input type="submit" value="회원가입" class="register" />
    </form>
  </div>
</div>
{% endblock %}
