{% extends "_base.html" %}

{% block content %}
<div class="todo_wrap wrap">
    <div class="user_zone">
        {% firstof request.user.profile.nickname request.user.username %}님
        <a href="{% url 'logout' %}">로그아웃</a>
        <!-- <a href="{% url 'todo:create' %}">항목 추가</a> -->
    </div>
    <div class="todo-area">
        {# 미시작 영역 #}
        <div class="ns-area area_zone" data-status="ns">
            <div class="header ago">
                <h3>진행 전</h3>
                <a href="{% url 'todo:create' 'notStared' %}" class="New">
                    <span class="plus_1"></span>
                    <span class="plus_2"></span>
                    New
                </a>
            </div>
            <div class="mv_zone">
                {% for ns in not_started %}
                <div class="item-area" data-no="{{ ns.pk }}">
                    <div class="title">
                        <a href="{{ ns.get_absolute_url }}">{{ ns.title }}</a>
                    </div>
                    <div class="content">
                        {{ ns.content }}
                    </div>
                    <div class="control">
                        <a class="update" href="{% url 'todo:update' ns.pk %}">수정</a>
                        <a class="delete" href="{% url 'todo:delete' ns.pk %}">삭제</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {# 진행중 영역 #}
        <div class="pg-area area_zone" data-status="pg">
            <div class="header ing">
                <h3>진행 중</h3>
                <a href="{% url 'todo:create' 'progressed' %}" class="New">
                    <span class="plus_1"></span>
                    <span class="plus_2"></span>
                    New
                </a>
            </div>
            <div class="mv_zone">
                {% for pg in progressed %}
                <div class="item-area" data-no="{{ pg.pk }}">
                    <div class="title">
                        <a href="{{ pg.get_absolute_url }}">{{ pg.title }}</a>
                    </div>
                    <div class="content">
                        {{ pg.content }}
                    </div>
                    <div class="control">
                        <a class="update" href="{% url 'todo:update' pg.pk %}">수정</a>
                        <a class="delete" href="{% url 'todo:delete' pg.pk %}">삭제</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {# 완료 영역 #}
        <div class="cp-area area_zone" data-status="cp">
            <div class="header success">
                <h3>완료</h3>
                <a href="{% url 'todo:create' 'completed' %}" class="New">
                    <span class="plus_1"></span>
                    <span class="plus_2"></span>
                    New
                </a>
            </div>
            <div class="mv_zone">
                {% for cp in completed %}
                <div class="item-area" data-no="{{ cp.pk }}">
                    <div class="title">
                        <a href="{{ cp.get_absolute_url }}">{{ cp.title }}</a>
                    </div>
                    <div class="content">
                        {{ cp.content }}
                    </div>
                    <div class="control">
                        <a class="update" href="{% url 'todo:update' cp.pk %}">수정</a>
                        <a class="delete" href="{% url 'todo:delete' cp.pk %}">삭제</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts_first_need %}
<script>
    var myGlobal = {
        url: '{% url 'todo:index' %}',
        changeUrl: '{% url 'todo:change_status' %}',
        csrfmiddlewaretoken: '{{ csrf_token }}',
    }
</script>
{% endblock %}